<!DOCTYPE html>
<html>
<head>
  <title>Рекомендация</title>
</head>
<body>
  <h1>Вы получили рекомендацию!</h1>
  <p><%= @recommendation %></p>
  <p>Можете посмотреть список рекомендаций <a href="<%= @url %>">тут</a>.</p>
</body>
</html>